#!/bin/zsh
alias c="clear"
alias cls="clear; ls"
alias e="exit"
alias ff="fastfetch"
alias mf="metaflac --remove --block-type=PICTURE,PADDING --dont-use-padding"
alias orphans="pacman -Qdtq | sudo pacman -Rns -"
alias shred="echo SHREDDING; sleep 5; shred -uvz"
alias ytm="yt-dlp -f ba -x -o '%(title)s.%(ext)s'"
