#!/bin/zsh
alias y="yay"
alias e="exit"
alias c="clear"
alias py="python3"
alias v="nvim"
alias ytm="yt-dlp -f ba -x --audio-format mp3 -o '%(playlist_index)s %(title)s.%(ext)s'"
alias m="ncmpcpp"
alias sudo="sudo LFS=/mnt/lfs"
alias mp="mpv --no-audio-display --fullscreen --screen=2 --image-display-duration=inf"
